body{
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
}
.login-form{
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
  padding: 10px;
  margin-left: 60px;
  margin-top: 100px;
}
.login-button{
  height: 40px;
}
.cart-name{
text-align: left;
padding-left: 30px;
color: rgb(242, 90, 52) ;
font-size: 50px;
}
/* .cart-name1{
  margin: auto;
  padding-top: 100px;
} */
.links a{
  padding: 10px;
  color: rgb(17, 56, 17);
}
.nav-bar{
  background-color: rgb(138, 227, 227);
  overflow: hidden;
  height: 90px;
}
.nav-bar ul{
  list-style-type: none;
}
.nav-bar ul li{
 float: left;
}
.nav-bar ul li a{
text-decoration: none;
color: black;
padding: 15px;
display: inline-block;
}
.nav-bar-cart{
  padding: 15px;
  display: inline-block;
  margin-left: 800px;
}
.nav-bar-cart a{
  padding-right: 20px;
  text-decoration: none;
  color: black;
}
.card-container{
  width: 280px;
  height: 400px;
  margin-left: 80px;
  margin-top: 50px;
}
.card-img{
  height: 250px;
  padding: 5px;
  object-fit: cover;
}
.card-model{
  padding: 0;
  margin: 0;
}
.card-button{
  height: 30px;
  width: 100px;
  cursor: pointer;
}
.mobile-list-container{
 display: flex;
 flex-direction: row;
}
.split-left{
  height: 100vh;
  width: 30%;
  background-color: rgb(153, 164, 180);
  position: fixed;
}
.split-right{
  background-color: rgb(34, 170, 219);
  height: 100vh;
  width: 70%;
  margin-left: 30%;
  
}
.img-section{
  width: 100%;
  height: 100vh;
  image-rendering: auto;
}
.overall-section{
  background-color: rgb(204, 239, 96);
}

.app-container{
  max-width: 100%;
  margin: 0px auto;
  max-width: 1080px;
}
.card-product-listing{
  width: 100%;
  height: 100vh;
  background-color: rgb(138, 227, 227);
}
.mb-3{
  font-size: 18px;
  padding: 20px;
}
.checkout-button{
  height: 40px;
  width: 170px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.checkout{
  font-size: 16px;
  font-weight: 600;
}
